
.header_main { 
    background: #0D1013;
    border-bottom: 1px solid rgb(51, 53, 56);

    .header_inner {
        display: flex;
        justify-content: space-between;

        .links_wrapper {
            display: flex;
            align-items: center;

            .links_main {
                .link {
                    color: #B4B5B6;
                    text-transform: capitalize;
                    // font-family: $font_family;
                }

                :hover {
                    background-color: rgb(31, 33, 36);
                    border-radius: 0.375rem;
                    color: #E5E7EB;
                }
            }

            .header_social {
                display: flex;
                gap: 10px;

                img {
                    width: 20px;
                }
            }
        }
    }
}