.signuppage_title {
    text-align: center;
    margin: 2rem 0;
}

.signuppage_inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.signup_form .signup_field {
    width: 300px;
}

.signup_form .error {
    text-align: left;
    width: 100%;
    font-size: 13px;
    color: red;
    line-height: 0;
}

.signup_form .error p{
    margin: 0;
}